<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="5" parallel = "classes">
	<test name="Test">

		<packages>
			<package name="azureSeleniumDemo" />
		</packages> <!-- Packages --> 
		<classes>
                        <class name="testng.MavenTest1" />
		</classes>
		
	</test> <!-- Test -->
</suite> <!-- Suite -->
